# Ignorer les fichiers générés par les programmes
C/build/
C/Grace_kid.c
C/Sully_*
C/Colleen_output.txt

ASM/build/
ASM/Grace_kid.s
ASM/Sully_*
ASM/Colleen_output.txt

# Ignorer les fichiers objets
*.o

# Ignorer les exécutables générés
C/Colleen
C/Grace
C/Sully
ASM/Colleen
ASM/Grace
ASM/Sully

# Ignorer les fichiers temporaires
*~
*.swp
.DS_Store
